{#
/**
 * @file
 * Template for displaying a summary of a migration process.
 *
 * Available variables:
 * - summary: An array of information about the migration stats.
 *   - type: The type of the entity being migrated (e.g., nodes, users).
 *   - path: The file path of the detailed migration summary.
 *   - total: The total number of entities that were part of the migration process.
 *   - passed: The number of entities that were successfully migrated.
 *   - failed: The number of entities that failed to migrate.
 *   - pass: The percentage of entities that were successfully migrated.
 *   - fail: The percentage of entities that failed to migrate.
 *
 * @see template_preprocess_migration_summary()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Migration Report</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
      }
      .sidebar {
        width: 200px;
        height: 100vh;
        background-color: #343a40;
        color: #fff;
        position: fixed;
        padding-top: 20px;
      }
      .sidebar a {
        display: block;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
      }
      .sidebar a:hover {
        background-color: #495057;
      }
      .main-content {
        margin-left: 200px;
        padding: 20px;
      }
      .main-content h1 {
        font-size: 24px;
        padding: 15px;
        background-color: #343a40;
        color: #fff;
        margin: 20px 0 0 0;
        border-radius: 5px;
      }
      .main-content h1 a {
        color: #fff;
        text-decoration: none;
      }
      .main-content h1:first-child {
        margin-top: 0;
      }
      .status-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .status-box .box {
        width: 28%;
        padding: 20px;
        border-radius: 5px;
        background-color: #e9ecef;
      }
      .status-box .box div:first-child {
        font-size: 12px;
        font-weight: 700;
      }
      .status-box .box div:last-child {
        font-size: 24px;
        margin-top: 10px;
        font-weight: 550;
      }
      .total {
        background-color: #a6c9e2;
      }
      .passed {
        background-color: #8bc34a;
      }
      .failed {
        background-color: #f44336;
      }
      .chart-container {
        margin: 20px auto;
        width: 400px;
      }
      .myPieChart {
        width: 100%;
        height: 400px;
      }
      .sub-section {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
      }
      .failed-data {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px;
        display: none;
      }
      .failed-data ul {
        list-style: none;
        padding: 0;
        overflow: auto;
      }
      .failed-data ul li {
        width: 10%;
        padding: 5px;
        margin: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        float: left;
        background-color: #e9ecef;
      }
      .failed-count {
        font-size: 0.75rem;
        vertical-align: middle;
        padding: 0.5rem 0.75rem;
        border-radius: 1.25rem;
        color: #fff;
        background-color: #343a40;
        float: right;
        cursor: pointer;
      }
      span.hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <h2 style="text-align: center;">Migration Report</h2>
      <nav>
        {% for data in summary %}
          <a href="#{{ data.type|clean_class ~ '-heading' }}">{{ data.type }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="main-content">
      {% for key,data in summary %}
        <section>
          <h1 id="{{ data.type|clean_class ~ '-heading' }}">
            {{ data.type }} Information
            {% if data.path %}
              ( <a href="{{ data.path }}" target="_blank">View Detailed Report</a> )
            {% endif %}
          </h1>
          <div class="sub-section">
            <div class="status-box">
              <div class="box total">
                <div>Total {{ data.type }}</div>
                <div>{{ data.total }}</div>
              </div>
              <div class="box passed">
                <div>Passed</div>
                <div>{{ data.passed }}</div>
              </div>
              <div class="box failed">
                <div>Failed</div>
                <div>
                  {{ data.failed }}
                  {% if data.failed_data %}
                    <span class="failed-count" data="{{ 'failed-' ~ data.type|clean_class ~ '-data' }}">Click here to see failed data</span>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if data.failed_data %}
              <div id="{{ 'failed-' ~ data.type|clean_class ~ '-data' }}" class="failed-data">
                <h3>Failed {{ key }} ID(s)</h3>
                <ul>
                  {% for item in data.failed_data %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div id="{{ data.type|clean_class ~ '-chart' }}" class="chart-container">
              <span class="hide pass">{{ data.pass }}</span>
              <span class="hide fail">{{ data.fail }}</span>
              <canvas class="myPieChart"></canvas>
            </div>
          </div>
        </section>
      {% endfor %}
    </div>
    <script>
      jQuery(document).ready(function () {
        jQuery(".failed-count").click(function () {
          let id = jQuery(this).attr("data");
          jQuery("#" + id).toggle(300);
        });

        jQuery(".chart-container").each(function () {
          let pass = parseFloat(jQuery(this).find(".hide.pass").text());
          let fail = parseFloat(jQuery(this).find(".hide.fail").text());

          let ctx = jQuery(this).find(".myPieChart")[0].getContext("2d");
          new Chart(ctx, {
            type: "pie",
            data: {
              labels: ["Passed", "Failed"],
              datasets: [
                {
                  data: [pass, fail],
                  backgroundColor: ["#4caf50", "#f44336"],
                  borderColor: ["#ffffff", "#ffffff"],
                  borderWidth: 1,
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: "bottom",
                },
                tooltip: {
                  callbacks: {
                    label: function (tooltipItem) {
                      return tooltipItem.label + ": " + tooltipItem.raw + "%";
                    },
                  },
                },
              },
            },
          });
        });
      });
    </script>
  </body>
</html>
