{#
/**
 * @file
 * Template for displaying a summary of a taxonomy type migration.
 *
 * Available variables:
 * - summary: An array of information about the migration stats.
 *   - type: The type of the taxonomy entity being migrated.
 *   - total: The total number of entities that were part of the migration process.
 *   - passed: The number of entities that were successfully migrated.
 *   - failed: The number of entities that failed to migrate.
 *
 * @see template_preprocess_node_migration_summary()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taxonomy Migration Report</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
      }
      .sidebar {
        width: 25%;
        height: 100vh;
        background-color: #343a40;
        color: #fff;
        position: fixed;
        padding-top: 20px;
        overflow: scroll;
      }
      .sidebar a {
        display: block;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
      }
      .sidebar a:hover {
        background-color: #495057;
      }
      .main-content {
        margin-left: 25%;
        padding: 20px;
      }
      .main-content h1 {
        font-size: 24px;
        padding: 15px;
        background-color: #343a40;
        color: #fff;
        margin: 20px 0 0 0;
        border-radius: 5px;
      }
      .main-content h1 a {
        color: #fff;
        text-decoration: none;
      }
      .main-content h1:first-child {
        margin-top: 0;
      }
      .status-box {
        display: flex;
        justify-content: space-between;
      }
      .status-box .box {
        width: 28%;
        padding: 20px;
        border-radius: 5px;
        background-color: #e9ecef;
      }
      .status-box .box div:first-child {
        font-size: 12px;
        font-weight: 700;
      }
      .status-box .box div:last-child {
        font-size: 24px;
        margin-top: 10px;
        font-weight: 550;
      }
      .total {
        background-color: #a6c9e2;
      }
      .passed {
        background-color: #8bc34a;
      }
      .failed {
        background-color: #f44336;
      }
      .sub-section {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
      }
      .failed-data {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px;
        display: none;
      }
      .failed-data ul {
        list-style: none;
        padding: 0;
        overflow: auto;
      }
      .failed-data ul li {
        width: 10%;
        padding: 5px;
        margin: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        float: left;
        background-color: #e9ecef;
      }
      .failed-count {
        font-size: 0.75rem;
        vertical-align: middle;
        padding: 0.5rem 0.75rem;
        border-radius: 1.25rem;
        color: #fff;
        background-color: #343a40;
        float: right;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <h2 style="text-align: center;">Taxonomy Migration Report</h2>
      <nav>
        {% for key,data in summary %}
          <a href="#{{ data.type|clean_class ~ '-heading' }}">{{ key }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="main-content">
      {% for key,data in summary %}
        <section>
          <h1 id="{{ data.type|clean_class ~ '-heading' }}">{{ data.type }}</h1>
          <div class="sub-section">
            <div class="status-box">
              <div class="box total">
                <div>Total</div>
                <div>{{ data.total }}</div>
              </div>
              <div class="box passed">
                <div>Passed</div>
                <div>{{ data.passed }}</div>
              </div>
              <div class="box failed">
                <div>Failed</div>
                <div>
                  {{ data.failed }}
                  {% if data.failed_data %}
                    <span class="failed-count" data="{{ 'failed-term-' ~ key|clean_class ~ '-data' }}">Click here to see failed data</span>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if data.failed_data %}
              <div id="{{ 'failed-term-' ~ key|clean_class ~ '-data' }}" class="failed-data">
                <h3>Failed Term ID(s)</h3>
                <ul>
                  {% for item in data.failed_data %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </section>
      {% endfor %}
    </div>
    <script>
      jQuery(document).ready(function () {
        jQuery(".failed-count").click(function () {
          let id = jQuery(this).attr("data");
          jQuery("#" + id).toggle();
        });
      });
    </script>
  </body>
</html>
